body {
    background: #f8f8f8;
    width: 1500px;
    height: 100%;
    display: flex;
}

.container {
    width: 80%;
    margin: 0 auto;

}

/*----------ШАПКА------------*/

.header {
    background-color: #cecfd1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /*    border: 2px solid red;*/
}

.header_logo {
    /*    border: 4px solid black;*/
}

.header_logo img {
    margin-left: 20px;
    /*    border: 4px solid grey;*/
    width: 250px;
    height: 100%;
}

.header_logo img:hover {
    filter:drop-shadow(10px 0px 5px #333333);
}

.header_logo img:active {
    filter:drop-shadow(20px 0px 5px white);
}

.header_links {
    /*    border: 2px solid black;*/
    padding: 30px 0 0 0;
}

.header_links a {
    text-decoration: none;
    margin: 0 10px 0 10px;
    color: white;
}

.header_links a:hover{
    text-decoration: none;
    margin: 0 10px 0 10px;
    color: #333333;
}

.header_links a:active {
    text-decoration: none;
    margin: 0 10px 0 10px;
    color: #333333;
    filter:drop-shadow(7px 0px 0px white);
}


/*-------Шапка для Контактов------------*/

.header_сontacts {
    width: 100%;
    height: 249px;
    /*    border: 2px solid red;*/
    position: relative;
    z-index: 0;
    margin: 0;

}

header_contacts iframe {
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}


.header_logo_contacts {
    /*    border: 4px solid black;*/
}

.header_logo_contacts img {
    margin-left: 20px;
    /*    border: 4px solid grey;*/
    width: 250px;
    height: 250px;
    position: absolute;
    top: 8px;
    left: 345px;
    right: 0;
    bottom: 0;
    z-index: 2;

}

/*
.header_logo_contacts img:hover {
    border: 4px solid transparent;
}
*/

.header_links_contacts {
    /*    border: 2px solid black;*/
    width: 200px;
    height: 30px;
    padding: 10px 0 0 0;
    margin-right: 0 20px 0 0;
    text-align: center;
    background-color: #cecfd1;
    position: absolute;
    top: 30px;
    left: 1000px;
    right: 50px;
    bottom: 0;
    z-index: 2;
}


.header_links_contacts a {
    text-decoration: none;
    margin: 0 10px 0 10px;
    color: white;
    padding: 30px 0 0 0;
}

.header_links_contacts a:hover{
    text-decoration: none;
    margin: 0 10px 0 10px;
    color: #333333;
}

.header_links_contacts a:active {
    text-decoration: none;
    margin: 0 10px 0 10px;
    color: #333333;
    filter:drop-shadow(7px 0px 0px white);
    
}

/*---------------MENU---------------*/


.menu_box_name {
    text-align: center;
    height: 66px;
    background-color: #333333;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 600;
    font-family: 'Skranji', cursive;


}

.menu_box_nonelink {
    padding: 0 0 0 50px;
    background-color: #333333;
    height: 43px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Skranji', cursive;

}


.main {
    display: flex;
    width: 1220px;
    margin: 0 auto;

}

.main_menu_space {
    width: 265px;
    height: 805px;
    margin-right: 30px;
    /* border: 1px solid red;*/
}


.menu_box {
    background-color: #cecfd1;
    height: 43px;

}


.menu_box:hover {
    font-family: 'Skranji', cursive;
    text-decoration: none;
    background-color: #333333;
    opacity: 0.9;
}

.menu_box:active {
    background-color: #f2f2f3;
    opacity: 0.5;

}

.menu {
    list-style: none;
    font-family: 'Skranji', cursive;
    width: 100%;
    font-size: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu_advert {
    width: 100%;
    height: 200px;
    background-color: #eaeaea;
    margin: 30px 0 0 0;
    font-family: 'Skranji', cursive;
    font-size: 30px;
    
}

.menu_advert p {
    padding: 20px 0 0 170px;
   /* border: 1px solid red;*/
    width: 50px;
    font-style:italic;
    text-align: left;
    display: inline-block;
    text-transform: uppercase;
      
}

.menu li {
    padding: 20px 20px 10px 20px;
    width: 226px;
}

.menu a {
    font-family: 'Skranji', cursive;
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    padding: 0 0 0 20px;
    text-transform: uppercase;
    font-weight: bold;

}

.menu_box {
    width: 80%;
}


/*----ТОВАРЫ-----------*/

.main_content {
    width: 870px;
    background-color: #f8f8f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*border: 2px solid red;*/
}

.main_content_menu_line {
    /*  border: 2px solid red;*/
    width: 100%;
    height: 50px;
    background-color: #f8f8f8;
    padding: 30px 0 0 0;
    font-family: 'Skranji', cursive;
    text-align: left;
}

.main_content_menu_line span {
    color: #989898;
    font-weight: 400;
    font-size: 20px;
}

.main_content_menu_line a {
    color: #989898;
    font-weight: 400;
    font-size: 20px;
}

.main_content h2 {
    float: right;
    display: block;
    /*  border: 1px solid black;*/
    width: 100%;
    padding: 10px 0 0 40px;
    color: #707070;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    font-family: 'Skranji', cursive;

}

.product,
.product_new {
    width: 300px;
    height: 400px;
    background-color: #cecfd1;
    position: relative;
    margin-bottom: 30px;


}

.product:hover,
.product_new:hover {
    background-color: #57585c;
}

.product:active,
.product_new:active {
    background-color: #57585c;
    opacity: 0.7;
}

.product_new:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 60px solid orange;
    border-left: 60px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

}

.product_new:before {
    content: "new";
    position: absolute;
    top: 8px;
    right: 0px;
    z-index: 2;
    color: black;
    font-size: 1;
    font-family: 'Skranji', cursive;
}

.product_img {
    width: 275px;
    height: 300px;
    /*border: 2px solid red;*/
    margin: 0 auto;
}

.product_img img {
    width: 275px;
    height: 100%;
    margin: 15px 0 0 0;
    /*    float: right;*/
}

.product_descrip {
    width: 100%;
    /*border: 2px solid green;*/
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;


}

.name {
    width: 70%;
    display: block;
    /*  border: 2px solid red;*/
    padding: 0 0 0 20px;
    font-weight: bold;
    font-family: 'Skranji', cursive;


}

.price {
    width: 20%;
    display: block;
    /*border: 2px solid red;*/
    font-weight: bold;
    font-style: italic;
}

/*-----ОПИСАНИЕ ПРОДУКТА-----------*/

.pulover1 {
    /*border: 2px solid black;*/
    width: 100%;
    display: flex;

}

.pulover1_img {
    /* border: 2px solid red;*/
    display: flex;
    width: auto 0;
    margin-right: 40px;

}

.pulover1_img img {
    width: 350px;
    height: 420px;
    float: right;
    /*   border: 2px solid red;*/
}


.pulover1_description h2 {
    /*border: 2px solid red;*/
    color: #353535;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Skranji', cursive;
}

.pulover1_description span {
    color: #111111;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    font-size: 22px;
    font-family: 'Skranji', cursive;

}

.pulover1_description p {
    color: #707070;
    font-family: 'Skranji', cursive;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
}

.pulover1_description h3 {
    font-family: 'Skranji', cursive;
    color: #353535;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
}

hr {
    background-color: rgba(51, 51, 51, 0.1);
    width: 500px;
    height: 1px;
}

.button_box {}

.button {
    width: 600px;
    height: 40px;
    /* display: block; */
    display: table-cell;
    vertical-align: middle;
    /* padding: 15px 10px 0px 10px; */
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-align: center;
    background-color: #989898;
    text-transform: uppercase;
}

.button:hover {
    color: #989898;
    background-color: #fff;
    border: 1px solid #989898;
}

.btn:active {
    color: #fff;
    background-color: #989898;
    border: 1px solid #fff;
}


/*-----ФУТЕРЫ СОЦ СЕТЕЙ--------*/

.brand {
    background-color: #ffffff;
    height: 160px;
    border: 2px solid white;

}


.brand p {
    font-family: 'Skranji', cursive;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    color: grey;
    margin: 60px auto;
}

.instagramm {
    background-color: #eaeaea;
    height: 350px;
    /*border: 2px solid red;*/
}

.instagramm div {
    background-color: #eaeaea;
    flex-wrap: wrap;
}

.instagramm_img {
    display: flex;
    justify-content: space-between;

}

.instagramm_img img:hover {
    opacity: 0.7;

}

.instagramm_img img:active {
    opacity: 0.2;


}

.instagramm p {
    font-family: 'Skranji', cursive;
    color: #333333;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    display: block;
    padding: 15px;
    /*border: 2px solid black;*/
}

.social-btn {
    background-color: #3b5997;
    height: 150px;
    /* border: 2px solid black;  */
    display: flex;
    width: 100%;
}


.social-item {
    display: flex;
    width: 33.3%;
    height: 150px;
    /* border: 1px solid black;*/
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

/*-----*/

.social-item:first-child {
    background-color: #3b5997;
}

.social-item:hover:first-child {
    background-color: #2a426f;
}

.social-item:active:first-child {
    background-color: #6b8bc7;

}

/*-----*/

.social-item:nth-child(2) {
    background-color: #3fccfd;
}

.social-item:nth-child(2):hover {
    background-color: #027297
}

.social-item:nth-child(2):active {
    background-color: #35cbfd;
}

/*-----*/

.social-item:last-child {
    background-color: #cb2027;
}

.social-item:last-child:hover {
    background-color: #841518;
}

.social-item:last-child:active {
    background-color: #e34f54;
}

.social-item i {
    margin: auto;
}



/*----ФУТЕРS--------*/

.footer {
    height: 348px;
    width: 100%;
    background-color: #373737;
}

.footer_part1 {
    width: 100%;
    height: 348px;
    background-color: #373737;
    display: flex;
    justify-content: space-around;
    /*padding: 100px 50px 100px 50px;*/
    /* border: 2px solid red;*/
}

.footer_part1 {
    font-family: 'Skranji:700', cursive;
    color: #ffffff;
    font-size: 10px;
    font-weight: 200;
    line-height: 18px;
    text-align: left;
    /* border: 2px solid red;*/
    
}

.footer_part1 a {
 text-decoration: none;
    color: white;
}

.footer_part1 a:hover {
 text-decoration: none;
    color: #ffff80;
}



.footer_part1 li:first-child {
    margin-bottom: 20px;
    font-family: 'Skranji', cursive;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    /*border: 2px solid red;*/
}

.footer_category,
.footer_accounts,
.footer_support {
    list-style-type: none;
    
}

.footer_category {
    width: 84px;
    /*  border: 2px solid white;*/
    margin: 50px 0 50px 0;
}

.footer_accounts {
    width: 113px;
    /*  border: 2px solid white;*/
    margin: 50px 0 50px 0;

}

.footer_support {
    width: 106px;
    /*  border: 2px solid white;*/
    margin: 50px 0 50px 0;

}

/*---------News Letter---------*/

.news_letter {
    width: 350px;
    /*  border: 2px solid red;*/
    margin: 50px 0 50px 0;
}

.news_letter span {
    margin-bottom: 20px;
    font-family: 'Skranji', cursive;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    margin-left: 5px;
}

.footer_email_form p {
    margin-left: 5px;
}

.footer_email_form {
    width: 400px;
    /*border: 2px solid black;*/
    margin-left: 5px;


}

.email_form1,
.email_form2 {

    display: inline;

}

.colortext1 {
    background-color: #fff51f;
    width: 230px;
    height: 30px;
    font-family: 'Skranji:700', cursive;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
    /*border: 2px solid red;*/
}

.email_form2 input {

    background-color: #000000;
    width: 80px;
    height: 38px;
    font-family: 'Skranji', cursive;
    color: #ffffff;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    /*    border: 2px solid red;*/
    margin-left: 5px;
}

.email_form2 input:hover {
    background-color: #fff51f;
    color: #000000;
}

.email_form2 input:active {
    background-color: #fff766;
}

.news_letter_img {
    padding: 30px 5px 0 0px;


}

.payment_link {
    display: inline-block;
    width: 48px;
    height: 27px;
    background-image: url(../img/payment_icons2.png);
    margin-right: 5px;

}

.american_exp {
    background-position: 0px 0px;

}

.mastercard {
    background-position: -60px 0px;
}

.maestro {
    background-position: -120px 0px;
}

.paypal {
    background-position: -180px 0px;
}

.discover {
    background-position: -240px 0px;
}

.visa {
    background-position: -300px 0px;
}

/*-------------:hover*/

.american_exp:hover {
    background-position: 0px 0px;
    filter: drop-shadow(1px 1px 5px black);

}

.mastercard:hover {
    background-position: -60px 0px;
    filter: drop-shadow(1px 1px 5px black);
}

.maestro:hover {
    background-position: -120px 0px;
    filter: drop-shadow(1px 1px 5px black);
}

.paypal:hover {
    background-position: -180px 0px;
    filter: drop-shadow(1px 1px 5px black);
}

.discover:hover {
    background-position: -240px 0px;
    filter: drop-shadow(1px 1px 5px black);
}

.visa:hover {
    background-position: -300px 0px;
    filter: drop-shadow(1px 1px 5px black);
}

/*-------active----------*/

.american_exp:active {
    background-position: 0px 0px;
    opacity: 0.5;

}

.mastercard:active {
    background-position: -60px 0px;
    opacity: 0.5;
}

.maestro:active {
    background-position: -120px 0px;
    opacity: 0.5;
}

.paypal:active {
    background-position: -180px 0px;
    opacity: 0.5;
}

.discover:active {
    background-position: -240px 0px;
    opacity: 0.5;
}

.visa:active {
    background-position: -300px 0px;
    opacity: 0.5;
}

/*-----------About--------------*/

.about {
    width: 232px;
    /*border: 2px solid red;*/
    margin: 50px 0 50px 0;
}

.heading {
    margin-bottom: 20px;
    font-family: 'Skranji', cursive;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-align: left;

}

.aboutus_contacts {
    font-family: 'Skranji', cursive;
    font-size: 11px;
    font-weight: 100;
    text-align: left;
}

.aboutus_email {
    color: yellow;
    padding-left: 15px;
}

.aboutus_phone {
    display: inline-block;
    padding-left: 12px;
}

/*-----контакты-----------*/

.main_content_content {
    width: 100%;
    display: flex;

}

.message_us,
.adress {
    margin: 0;
    font-family: 'Skranji:700', cursive;
    font-size: 12px;
    font-weight: 100;
    text-align: left;


}

.adress {
    width: 50%;
    /*border: 1px solid red;*/
    margin-left: 40px;

}

.message_us {
    width: 55%;
    /*border: 1px solid green;*/
    font-size: 14px;
    font-weight: 100;


}

/*-------ФУТЕР НИЖНЯЯ ЧАСТЬ-----------*/

.footer_part2 {
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /*border: 2px solid red;*/
}

.footer_text {
    height: 47px;
    width: 50%;
    background-color: #333333;

}

.footer_text p {
    font-size: 12px;
    font-family: 'Skranji', cursive;
    color: #dad9d9;
    text-align: center;
    margin: 18px 12px;

}

.footer_icons {
    height: 47px;
    width: 50%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_icons a {
    color: #dad9d9;
    font-size: 12px;
    text-decoration: none;
    margin: 0 10px 0 10px;

}

.footer_icons a:hover{
    text-decoration: none;
    margin: 0 10px 0 10px;
    color: #ffff80;
}

.footer_icons a:active {
    text-decoration: none;
    margin: 0 10px 0 10px;
    filter:drop-shadow(7px 0px 0px white);
}


/*--------------------*/
